body {
	/*background-color: #eef3f7;*/
	color: #575757;
	font-family: 'Lucida Grande', arial, sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.main-nav-content,
.content {
	margin: auto;
	max-width: 1000px;
}

header, 
.main-nav-content,
.patenti,
footer,
.flex-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

header {
	margin: 0 50px;
}

ul {
	list-style-type: none;
    padding-left: 0;
}

img {
	max-width: 100%;
}

#patenti {
	padding: 0;
}

.main-nav {
	background-color: #4a779f;
}

.main-nav a {
	padding: 0 15px;	
}

nav a {
	color: white;
}

nav a:hover {
	color: #cbdae7;
}

.title {
	font-size: 55px;
	line-height: 70px;
}

.subtitle {
	font-size: 18px;
}

header img {
	width: 100px;
}


.reduce-width {
	width: 50%;
}

.text-right {
	text-align: right;
}

a {
	text-decoration: none;
}

.cover-image {
	max-width: 100%;
	overflow: hidden;
}

.cover-image img {
	max-width: 100%;
}

h1,
.long-desc b {
	color: #314e68;
}

h2 {
	font-size: 20px;
	margin-top: 50px;
}

.long-desc img {
	max-width: calc(50% - 15px);
	padding-right: 15px;
}

.text {
	line-height: 30px;
}

.text a {
	color: #4a779f;
}

.text a:hover {
	color: rgba(74, 119, 159, .8);
}

.patenti {
	align-items: flex-start;
	padding: 15px 5px;
    background: #4a779f;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

.container-patente {
	flex: 1 1 calc(100% / 5);
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-patente div {
	margin: 15px 15px 5px;
}

.content > div,
.recap {
	margin-top: 30px;
}

footer {
	background-color: #49484e;
	border-bottom: 4px solid #4a779f;
	color: white;
	font-size: 15px;
	margin-top: 50px;
	padding: 15px 50px;
}

footer a {
	color: white;
}

footer a:hover {
	color: #cbdae7;
}

.contacts-block:nth-child(2) {
	text-align: right;
}

address {
	margin: 20px 0;
}

address div {
	font-style: normal;
}

.times {
	text-align: center;
	padding: 15px;
	margin-top: 15px;
}

hr {
	background: #638fb6;
    height: 1px;
    border: 0;
    margin: 25px 0;
}

.no-padding {
	padding: 0;
}

.abilitazioni {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.side-element {
	width: 50%;
	height: auto;
	padding-right: 15px;
}

.large {
	font-size: 18px;
}

@media screen and (max-width: 820px) {
	.container-patente {
		flex: 1 1 100%;
		margin: 15px 0;
	}

	address {
		width: 100%;
	}

	footer	{
		justify-content: center;
	}

	.contacts-block:nth-child(n) {
		margin: 0 15px;
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {
	.content > div,
	#patenti h1,
	#patenti > div {
		padding: 0 20px;
	}

	/* footer {
		address,
		iframe {
			width: 100%;
		}
	} */
}

@media screen and (max-width: 660px) {
	header img {
		display: none;
	}

	.title {
		font-size: 35px;
		line-height: 40px;
	}

	.subtitle {
		font-size: 16px;
	}

	.main-nav a {
		width: 100%;
		text-align: center;
		padding: 15px;
	}

	.reduce-width,
	.long-desc img,
	.side-element {
		max-width: 100%;
		padding: 0;
		width: 100%;
	}

	.flex-container {
		justify-content: center;
	}

	iframe {
		margin: auto;
	}
}
